<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audi</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Audi, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		        		                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Audi_A6_50_TDI_Quattro_Premium_C8_Daytona_Gray_Pearl_%2831%29.jpg" class="card-img-top" alt="A618" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Audi A6</h5>
		<p class="card-text">Двигатель - 3 л • Електро або дизельне паливo</p>
		<p class="card-text">Год - 2018 </p>
		<p class="card-text">Пробег - 100 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		        		                <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Audi_Q7_3.0_TDI_quattro_S-line_%28II%29_%E2%80%93_Frontansicht%2C_3._Januar_2016%2C_D%C3%BCsseldorf.jpg" class="card-img-top" alt="Q716" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Audi Q7</h5>
		<p class="card-text">Двигатель - 3 л • Дизель</p>
		<p class="card-text">Год - 2016 </p>
		<p class="card-text">Пробег - 150 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		        		                <img src="https://images.cdn.manheim.com/20210401091609-cce4b1e4-ccca-4442-96ed-38ec28780c62.jpg" class="card-img-top" alt="Q515" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Audi Q5</h5>
		<p class="card-text">Двигатель - 2 л (225 к.с. / 165 кВт) • Бензин</p>
		<p class="card-text">Год - 2015 </p>
		<p class="card-text">Пробег - 180 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
    </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
                                <img src="https://media.ed.edmunds-media.com/audi/a4/2019/oem/2019_audi_a4_sedan_20-tfsi-prestige-quattro_fq_oem_1_1600.jpg" class="card-img-top" alt="A419" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Audi A4</h5>
		<p class="card-text">Двигатель - 1.98 л • Бензин</p>
		<p class="card-text">Год - 2019 </p>
		<p class="card-text">Пробег - 90 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
    </div>
            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>


