<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ford</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Ford, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/2010_Ford_Focus_RS_2.5_Front.jpg" class="card-img-top" alt="Focus10" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Ford Focus</h5>
		<p class="card-text">Двигатель - 1.6 л (110 к.с. / 81 кВт) • Дизель</p>
		<p class="card-text">Год - 2010 </p>
		<p class="card-text">Пробег - 200 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                <img src="https://ireland.apollo.olxcdn.com/v1/files/rvvpwa0jda3f1-UA/image;s=1600x1200" class="card-img-top" alt="FordExp20" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Ford Explorer</h5>
		<p class="card-text">Двигатель - 3 л • Бензин</p>
		<p class="card-text">Год - 2020 </p>
		<p class="card-text">Пробег - 80 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                <img src="https://cdn.riastatic.com/photosnewr/ria/news_common/test-drajv-ford-kuga-proschaetsya-no-ne-ukhodit__249266-2560x1600.jpg" class="card-img-top" alt="Kuga19" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Ford Kuga</h5>
		<p class="card-text">Двигатель - 2 л (149.6 к.с. / 110 кВт) • Дизель</p>
		<p class="card-text">Год - 2019 </p>
		<p class="card-text">Пробег - 100 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
    </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
                    <img src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/14q4/638369/2015-ford-mustang-gt-automatic-test-review-car-and-driver-photo-644182-s-original.jpg?fill=2:1&resize=1200:*" class="card-img-top" alt="Mustang15" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">
                <div style="margin-left: 20px;">
                <h5 class="card-title">Ford Mustang</h5>
		<p class="card-text">Двигатель - 2.3 л • Бензин</p>
		<p class="card-text">Год - 2015 </p>
		<p class="card-text">Пробег - 155 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
    </div>
            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>

