<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mazda</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Mazda, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                               <img src="https://auto.24tv.ua/resources/photos/news/1200x900_DIR/202005/21337ea8457f1-e826-46bb-97ec-bbfb052c3c51.jpeg?1589814709000" class="card-img-top" alt="CX-5" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">





                <div style="margin-left: 20px;">
                <h5 class="card-title">Mazda CX-5</h5>
		<p class="card-text">Двигатель - 2 л • Бензин</p>
		<p class="card-text">Год - 2020 </p>
		<p class="card-text">Пробег - 100 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                      <img src="https://s.drom.ru/2/reviews/photos/mazda/mazda3/big_77051_1.jpeg" class="card-img-top" alt="Mazda 3" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">




                <div style="margin-left: 20px;">
                <h5 class="card-title">Mazda 3</h5>
		<p class="card-text">Двигатель - 2 л (225 к.с. / 165 кВт) • Бензин</p>
		<p class="card-text">Год - 2007 </p>
		<p class="card-text">Пробег - 230 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                        <img src="https://image-cdn.beforward.jp/large/201804/931806/BF799048_d37500.jpg" class="card-img-top" alt="Biante" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">


                <div style="margin-left: 20px;">
                <h5 class="card-title">Mazda Biante</h5>
		<p class="card-text">Двигатель - 2 л • Бензин</p>
		<p class="card-text">Год - 2012 </p>
		<p class="card-text">Пробег - 120 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>

            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>

