<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nissan</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Nissan, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                               <img src="https://s.auto.drom.ru/i24219/c/photos/fullsize/audi/a6/audi_a6_794806.jpg" class="card-img-top" alt="NissXTra17" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">


                <div style="margin-left: 20px;">
                <h5 class="card-title">Nissan X-Trail</h5>
		<p class="card-text">Двигатель - 2 л • Бензинь</p>
		<p class="card-text">Год - 2017 </p>
		<p class="card-text">Пробег - 160 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                      <img src="https://mymycars.com/image/full/d2cd7386-fa2e-78ae-b7cf-2504b6b64a1a.webp?asdfgffgh" class="card-img-top" alt="NissQuai" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">


                <div style="margin-left: 20px;">
                <h5 class="card-title">Nissan Qashqai</h5>
		<p class="card-text">Двигатель - 2 л (225 к.с. / 165 кВт) • Бензин</p>
		<p class="card-text">Год - 2014 </p>
		<p class="card-text">Пробег - 190 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                       <img src="https://cdn.riastatic.com/photosnewr/auto/photo/nissan-leaf__311247074-460x345.jpg" class="card-img-top" alt="Leaf" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">


                <div style="margin-left: 20px;">
                <h5 class="card-title">Nissan Leaf</h5>
		<p class="card-text">Двигатель - 24 kWh Електро</p>
		<p class="card-text">Год - 2014 </p>
		<p class="card-text">Пробег - 150 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>

            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>

