<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Renault</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Renault, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                                       <img src="https://s.auto.drom.ru/i24223/c/photos/fullsize/renault/megane/renault_megane_824902.jpg" class="card-img-top" alt="RenMegane16" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">



                <div style="margin-left: 20px;">
                <h5 class="card-title">Renault Megane</h5>
		<p class="card-text">Двигатель - 3 л • Дизель</p>
		<p class="card-text">Год - 2016 </p>
		<p class="card-text">Пробег - 160 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                              <img src="https://imagedelivery.net/4_JwVYxosZqzJ7gIDJgTLA/720ce254-b510-4005-5098-b51a68eb1f00/16x9" class="card-img-top" alt="RenDust23" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">



                <div style="margin-left: 20px;">
                <h5 class="card-title">Renault Duster</h5>
		<p class="card-text">Двигатель - EV60 AT (220 к.с.)</p>
		<p class="card-text">Год - 2023 </p>
		<p class="card-text">Пробег - 120 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                               <img src="https://i.infocar.ua/i/2/6788/126309/1920x.jpg" class="card-img-top" alt="RenMegEtech23" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">



                <div style="margin-left: 20px;">
                <h5 class="card-title">Megane E-Tech Electric</h5>
		<p class="card-text">Двигатель - EV60 AT (220 к.с.)</p>
		<p class="card-text">Год - 2023 </p>
		<p class="card-text">Пробег - 50 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>

            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>

