<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toyota</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center;">Это все автомобили марки Toyota, что мы сейчас можем предложить вам:</h1>
        </header>
        <hr>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                                                       <img src="https://www.auto-data.net/images/f109/Toyota-Land-Cruiser-Prado-J150-3-door.jpg" class="card-img-top" alt="Prado" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">


                <div style="margin-left: 20px;">
                <h5 class="card-title">Toyota Land Cruiser Prado</h5>
		<p class="card-text">Двигатель - 3.96 л • Газ / Бензин</p>
		<p class="card-text">Год - 2011 </p>
		<p class="card-text">Пробег - 260 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
            </div>

            <div class="card" style="width: 30rem; margin: 10px; border: 1px solid #000;">
		                                                                              <img src="https://i.gaw.to/vehicles/photos/02/81/028180_2012_Toyota_FJ_Cruiser.jpg?640x400" class="card-img-top" alt="FJ" style="width: 480px; height: 250px; background-color: #f0f0f0; display: block; margin: 0 auto;">



                <div style="margin-left: 20px;">
                <h5 class="card-title">Toyota FJ Cruiser</h5>
		<p class="card-text">Двигатель - 3.96 л • Бензин</p>
		<p class="card-text">Год - 2012 </p>
		<p class="card-text">Пробег - 178 тыс. км </p>
<a href="{% url 'cars:AfterButton_page' %}" style="text-decoration: none; background-color: grey; color: yellow; display: block; margin: 10px auto; text-align: center; margin-right: 10px">Договориться о встрече</a>
            </div>
        </div>


            </div>

        </div>
        </div>
    <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="text-align: center;">
            <h4>©2023</h4>
            <p><a href="https://www.instagram.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Instagram</a></p>
            <p><a href="https://www.facebook.com/automista/" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">Facebook</a></p>
            <p><a href="https://twitter.com/automista" style="text-decoration: none; color: black;" onmouseover="this.style.color='yellow'; this.style.backgroundColor='blue';" onmouseout="this.style.color='black'; this.style.backgroundColor='transparent';">X|Twitter</a></p>
        </div>
        <div>
            <p style="margin-left: 150px">Наши контактные данные:</p>
            <p style="margin-left: 200px">+3809991168</p>
            <p style="margin-left: 200px">+3806651645</p>
        </div>
    </div>
</body>
</html>

